/resources/js
/resources/main.js
/node_modules
/target
package-lock.json
.vscode
*.log
package-lock.json
**/js
*.js
plugs/*
.eslintrc.js
*.cljs.edn
.git
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.*.swp
.DS_Store
._*
npm-debug.log
.npmrc
config.gypi
*.orig
