;; shadow-cljs configuration
{ :source-paths ["src"]
  :dependencies [[reagent "0.7.0"]]
  :builds
  { :main
    { :target :node-script
      :output-to "target/main.js"
      :main app.main/init}

    :renderer
    { :target :browser
      :output-dir "resources/js"
      :asset-path "js"
    
      :modules 
      { :renderer {:entries [app.renderer]}}
    
      :devtools 
      { :before-load app.browser/stop
        :after-load app.browser/start}}}}

