;; shadow-cljs configuration
{  
  :source-paths ["src"]

  :dependencies [[camel-snake-kebab "0.4.0"]]

  :builds
  { :main
    { :target :node-script
      :output-to "target/main.js"
      :main app.main.main/init}

    :renderer
    { :target :browser
      :output-dir "resources/js"
      :asset-path "/js"
    
      :compiler-options {}

      :modules 
      {:app {:entries [app.renderer.simple]}}      
      
      :devtools 
      { :before-load app.renderer.simple/stop
        :after-load app.renderer.simple/start}}}}
