;; shadow-cljs configuration
{  
  :source-paths ["src"]

  :dependencies  [[camel-snake-kebab "0.4.0"]
                  [reagent "0.8.0-alpha1" :exclusions [cljsjs/create-react-class]]]

  :builds
  { :main
    { :target :node-script
      :output-to "resources/main.js"
      :main app.main.main/init}
                      
    :renderer
    { :target :browser
      :output-dir "resources/js"
      :asset-path "js"

      :modules 
      { :simple {:output-to "js/simple.js" :entries [app.renderer.simple]}}      
      
      :devtools 
      { :before-load app.renderer.simple/stop
        :after-load app.renderer.simple/start}}}}
