;; shadow-cljs configuration
{
  :source-paths ["src"]
  
  :dependencies []

  :builds
  { :main
    { :target :node-script
      :output-to "main.js"
      :main cljselec.app.main/init

      :compiler-options {}}
  
    :test
    { :target :browser
      :output-dir "resources/js"
      :asset-path "resources"
    
      :compiler-options {}

      :modules 
      { :test {:entries [cljselec.renderer.test]}}
    
      :devtools 
      { :before-load cljselec.renderer.test/stop
        :after-load cljselec.renderer.test/start}}}}
