{:source-paths ["src"],
 :dependencies
 [[camel-snake-kebab "0.4.0"]
  [cljs-node-io "0.5.0"]
  [org.clojure/tools.reader "1.1.0"]],
 :builds
 {:main
  {:target :node-script, :output-to "main.js", :main main.main/main},
  :generate
  {:target :node-script,
   :output-to "generate.js", 
   :main main.generate/generate}}}
